// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.whiteColor{
    color: white;
}
.lightgreen{
    color: lightgreen;
}
.bgtransparent{
    background-color: transparent;
}
.col{
background: gray;
}
.fontLarge{
    font-size: large;
}
.blackBorder{
    border:  solid black;

}
.lflot{
    float: left;
}
.rflot{
    float: right;
}
.textCemter{
    text-align: center;
}

 .applogo {
        background: url("../assets/img/appicon.png") no-repeat center top;
        position: absolute;
        top: 0px;
        Left: 0px;
        width: 128px;
        height: 44px;
        
        display: block;
        background-size: 100% auto;
    }